/* Copyright 2012, Evernote Corp
 *
 * author: Andrei Thorp, athorp@evernote.com
 */
/*** Evernote CSS Framework ***/
.IncentiveRibbonComponent-container {
  display: inline-block;
  position: relative;
  vertical-align: top;
}
.IncentiveRibbonComponent-container.IncentiveRibbonComponent-center,
.IncentiveRibbonComponent-container.IncentiveRibbonComponent-left {
  margin-left: 5px;
}
.IncentiveRibbonComponent-container.IncentiveRibbonComponent-center,
.IncentiveRibbonComponent-container.IncentiveRibbonComponent-right {
  margin-right: 5px;
}
.IncentiveRibbonComponent-main {
  color: #bd8610;
  background-color: #ffea6a;
  border: 1px solid #e9d142;
  line-height: 12px;
  padding: 2px 12px;
  font-family: gotham, helvetica, arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
}
:lang(zh-cn) .IncentiveRibbonComponent-main {
  font-family: gotham, Hiragino Sans GB, STHeiti, Microsoft Yahei, helvetica, arial, sans-serif;
}
:lang(ja) .IncentiveRibbonComponent-main {
  font-family: gotham, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", helvetica, arial, sans-serif;
}
.ie8 .IncentiveRibbonComponent-main {
  font-family: gotham-500-normal, helvetica, arial, sans-serif;
  font-style: normal;
  font-weight: normal;
}
.ie8 :lang(zh-cn) .IncentiveRibbonComponent-main {
  font-family: gotham-500-normal, Hiragino Sans GB, STHeiti, Microsoft Yahei, helvetica, arial, sans-serif;
}
.ie8 :lang(ja) .IncentiveRibbonComponent-main {
  font-family: gotham-500-normal, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", helvetica, arial, sans-serif;
}
.IncentiveRibbonComponent-left-side,
.IncentiveRibbonComponent-right-side {
  position: absolute;
  top: 0;
  height: 100%;
}
.IncentiveRibbonComponent-left-side {
  left: 0px;
}
.IncentiveRibbonComponent-right .IncentiveRibbonComponent-left-side {
  display: none;
}
.IncentiveRibbonComponent-right-side {
  right: 0px;
}
.IncentiveRibbonComponent-left .IncentiveRibbonComponent-right-side {
  display: none;
}
.IncentiveRibbonComponent-ribbon-half {
  background-color: #ffea6a;
  box-sizing: border-box;
  height: 50%;
  width: 12px;
}
.IncentiveRibbonComponent-ribbon-half.IncentiveRibbonComponent-top {
  border-top: 1px solid #e9d142;
  transform-origin: left bottom;
}
.IncentiveRibbonComponent-left-side .IncentiveRibbonComponent-ribbon-half.IncentiveRibbonComponent-top {
  transform: skew(30deg, 0);
}
.IncentiveRibbonComponent-right-side .IncentiveRibbonComponent-ribbon-half.IncentiveRibbonComponent-top {
  transform: skew(-30deg, 0);
}
.IncentiveRibbonComponent-ribbon-half.IncentiveRibbonComponent-bottom {
  border-bottom: 1px solid #e9d142;
  transform-origin: left top;
}
.IncentiveRibbonComponent-left-side .IncentiveRibbonComponent-ribbon-half.IncentiveRibbonComponent-bottom {
  transform: skew(-30deg, 0);
}
.IncentiveRibbonComponent-right-side .IncentiveRibbonComponent-ribbon-half.IncentiveRibbonComponent-bottom {
  transform: skew(30deg, 0);
}
.IncentiveRibbonComponent-left-side .IncentiveRibbonComponent-ribbon-half {
  border-left: 1px solid #e9d142;
}
.IncentiveRibbonComponent-right-side .IncentiveRibbonComponent-ribbon-half {
  border-right: 1px solid #e9d142;
}
